.text-style {
    -fx-fill: white;
    -fx-wrap-text: true;
    -fx-pref-width: 100%;
    -fx-padding: 4px;
}

.button-style {
    -fx-background-color: #255525;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 15px;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 0);
}


.textfield-style {
    -fx-background-color: #1f2021;
    -fx-text-fill: white;
    -fx-border-color: #333333;
    -fx-border-radius: 10px;
    -fx-pref-width: 250px;
}

.container, .container  > *{
    -fx-background-color: #1f2021;
    -fx-text-fill: white;
}

.text-normal{
    -fx-text-fill: white;
}

.text-important{
    -fx-text-fill: #255525;
}


.filter-label{
    -fx-text-fill: white;
}

.border-right {
    -fx-border-color: transparent #333333 transparent transparent;
    -fx-border-width: 0 1px 0 0;
}


.my-tab-pane {
    -fx-background-color: #131416;
}

.my-tab-pane .tab {
    -fx-background-color: #333;
    -fx-padding: 5px 15px;
}

.my-tab-pane .tab:selected {
    -fx-background-color: #255525;
}

.my-tab-pane .tab-header-area > * {
    -fx-background-color: #1f2021;
}

.my-tab-pane .tab-content-area {
    -fx-background-color: #1f2021;
    -fx-border-color: #333;
    -fx-border-width: 1px 0px 0px 0px;
}

.my-tab-pane .tab-label {
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
}

.my-tab-pane .tab:selected .tab-label {
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
}

.text-area {
    -fx-control-inner-background: #333;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: #333;
    -fx-padding: 5px;  /* Marge intérieure pour éviter que le texte touche les bords */
}


.red-btn{
    -fx-background-color: darkred;
    -fx-text-fill: #dcdcdc;
}